<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Leopard app</title>
    <link rel="stylesheet" href="./static/common.css">
  </head>
  <body style="background-color: #FFD84B;">
    <h1>Leopard app</h1>
    <img alt="Hi, I'm an leopard !" src="./static/leopard.png"/>
    <h3>HOSTNAME : {{ hostname }}</h3>
    <h3>OPERATING SYSTEM : {{ os }}</h3>
    <h3>NODE VERSION : {{ version }}</h3>
  </body>
</html>
